<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".hmain"
            android:exported="false"
            android:label="@string/title_activity_hmain" />
        <activity
            android:name=".khurramApp"
            android:exported="false"
            android:label="@string/title_activity_khurram_app" />
        <activity
            android:name=".HackerFirstActivity"
            android:exported="false"
            android:label="@string/title_activity_hacker_first" />
        <activity
            android:name=".nextpageoflogin"
            android:exported="false" />
        <activity
            android:name=".SignIn_Activity"
            android:exported="false" />
        <activity
            android:name=".SignUp_Activity"
            android:exported="false" />
        <activity
            android:name=".Spllash_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>